{% load staticfiles %}
{% load registration_providers %}

<ul class="singlesignon">
<li class="legend">
	<img src="{% static "icons/sm/login_prompt.png" %}" width="64" height="32" alt="Log Un or Sign Up with a Social Media Account"/>
</li>
{% for provider in ""|new_account_providers %}
<li>
	<a class="btn social_{{ provider }}" href="{% url "registration.views.external_start" "login" provider %}{% if singlesignon_next %}?next={{singlesignon_next|urlencode}}{% endif %}{{singlesignon_params}}" style="border: none; padding: 0;" title="Log in or register with {{ provider|provider_name }}" rel="nofollow" {{singlesignon_a_attrs|safe}}>
		<img src="{% static provider|provider_logo:32 %}" width="32" height="32" alt="{{ provider|provider_name }}"/>
	</a>
</li>
{% endfor %}
<div style="clear: both"> </div>
</ul>			

