{% extends "registration/base.html" %}
{% load registration_providers %}

{% block title %}Log In{% endblock %}

{% block body %}

<h1>Log In</h1>

<p>If you have an account, please log in. Otherwise <a href="{% url 'registration.views.new_user' %}{% if next %}?next={{next|urlencode}}{% endif %}">create an account</a>.</div></p>
			
<form method="post" class="login">
	{% csrf_token %}

	{% if errors %}
		<p class="error">{{errors}} Please try again.</p>
	{% endif %}
	
	<label for="id_email">Email</label> 
	<input id="id_email" type="text" name="email" maxlength="60" value="{{email}}"/><br /> 
				
	<label for="id_password">Password</label> 
	<input type="password" name="password" id="id_password" value="{{password}}" /><br /> 
				
	<input class="submit" type="submit" value="Login" />
	<a class="forgot" href="{% url "registration.views.resetpassword" %}">Forgot your password?</a>
				
	<input type="hidden" name="next" value="{{ next }}" />
</form>

{% if ""|new_account_providers %}
<div class="signin_social">
	<p>You can also log in or register using an account you have at {% for provider in ""|new_account_providers %}{{provider|provider_name}}{% if forloop.revcounter0 > 1 %}, {% endif %}{% if forloop.revcounter0 == 1 %} or {% endif %}{% endfor %}:</p>
	{% with next as singlesignon_next %}
		{% include "registration/login_singlesignon.html" %}
	{% endwith %}
</div>
{% endif %}		

{% endblock %}
