{% extends "registration/base.html" %}

{% load registration_providers %}

{% block title %}Register a New Account{% endblock %}

{% block body %}
<style>
form label {
	display: inline-block;
	width: 8em;
}
</style>

{% if provider %}
	<h1>Finish Creating Your Account</h1>
	<p style="margin-top: 1em">Please {% if ask_username %}create a username and{% endif %} confirm your email address to create your {{site_name}} account.</p>
{% else %}
	<h1>Register</h1>
	<p style="margin-top: 1em">Fill out the form below to create your {{site_name}} account.</p>
{% endif %}

	
<form method="post" style="margin-top: 1em; max-width: 320px;">
	{% csrf_token %}
	{% if request.GET.next %}<input type="hidden" name="next" value="{{request.GET.next}}"/>{% endif %}

	{% if ask_username %}
		<div>
			<label for="username">Username</label>
			<input type="text" size="20" id="username" name="username" value="{% if username %}{{username}}{% endif %}"/>
		</div>
		{% if errors.username %}<p class="error">{{errors.username}}</p>{% endif %}
	{% endif %}
			
	<div>
		<label for="email">Email Address</label>
		<input type="text" size="20" id="email" name="email" value="{% if email %}{{email}}{% endif %}"/>
	</div>
	{% if errors.email %}<p class="error">{{errors.email}}</p>{% endif %}
	
	{% if not provider %}
		<div>
			<label for="password">Password</label>
			<input type="password" size="20" id="password" name="password" value="{% if password %}{{password}}{% endif %}"/>
		</div>
		{% if errors.password %}<p class="error">{{errors.password}}</p>{% endif %}
	{% else %}
		<p style="margin-top: 1em">You are logging in through a {{provider|provider_name}} account. Look for the {{provider|provider_name}} button to log in when you come back to {{site_name}} later.</p>
	{% endif %}
	

	<input type="submit" class="submit" value="Continue" style="margin-top: 1em"/>
</form>

{% endblock %}

