{% extends "registration/base.html" %}

{% block title %}Password Reset{% endblock %}

{% block body %}
<h1>Reset Password</h1>
	
<p style="width: 40em; margin-top: 1em;">If you&rsquo;ve forgotten your password, please enter your email address below. If we have an account on file with that address we will send instructions on how to reset your password.</p>
	
{% if status %}
<p class="error" style="margin-top: 1em;">{{status}}</p>
{% endif %}

<form method="post" action="" style="margin-top: 1em">
	{% csrf_token %}
	<label for="email">your email address</label>
	<input id="email" type="text" name="email" value="{{request.POST.email}}"/>
	<small id="errorlabel_email" class="error"></small>
	
	<div style="margin-top: 1em;>"
	<p>Please type the words you see below:</p>
	{{captcha|safe}}
	</div>

	<input id="submitbutton" type="submit" class="submit" value="Submit" style="margin-top: 1em"/>
	
</form>
{% endblock %}

