{% extends "base.html" %}

{% block base_body %}
<h2>What is an ANC?</h2>
<p class="what-is-it">Washington DC is divided into 40 districts called Advisory Neighborhood Commissions, or ANCs.</p>
<p class="how-many-commissioners">ANCs are made up of 2-12 commissioners who make decisions about a broad range of issues in your community, such as liquor licenses, parking, and sanitation.</p>
<div id="commissioners"> </div>
<p>This is your most local form of government. <span class="anc-has-website" style="display: none">Check out your ANC&rsquo;s website at <a class="anc-website"> </a>.</span></p>

<h2>Single Member Districts</h2>
<p>Each commissioner on an ANC represents a division of Washington DC called a Single Member District, or SMD. Commissioners each represent about 2,000 DC residents who live in the SMD.</p>
<p>You elect your ANC commissioner every two years in non-partisan elections.</p>
<p class="has-commissioner" style="display: none">Your commissioner in <span class="smd-name"> </span> is <span class="smd-commissioner"> </span><span class="smd-commissioner-email"></span>.</p>

<h2>What do ANCs do?</h2>
<p>ANCs advise the DC government about issues that affect their community, such as parking, recreation, street improvements, liquor licenses, zoning, restaurants, the police, sanitation, and the District's annual budget.</p>
<p>Your ANC commissioners also control grant money of several thousand dollars (or more) for the general purpose of improving their area and hiring staff for the ANC.</p>
<p><a href="{% url 'ancfinder_site_home' %}">Learn more about ANC authority and budget &raquo;</a></p>

<h2>Who elects ANC commissioners?</h2>
<p>ANC commissioners each represent one single member district (SMD). ANC campaigns are typically small, grassroots efforts. In fact, winning candidates often run unopposed and receive just a few hundred votes.</p>
<p>To run for a seat, a candidate must collect 25 signatures from registered voters in his or her SMD. Visit the DC Board of Elections website to <a href="http://www.dcboee.org/candidate_info/general_info/">learn more about running for ANC commissioner</a>.</p>

<h2>How can I get involved?</h2>
<p>To get involved in your ANC, you can attend ANC meetings, learn more about your ANC, or even <a href="http://runforanc.com/">become an ANC Commissioner</a>.</p>
<p><a class="smooth" href="#intro">Start by finding your ANC.</a></p>
{% endblock %}
