update_anc_database_creds.py
ancfindersite/database.sqlite
data
user_local_environment.yaml
*.sqlite


.DS_Store
*~
*.pyc
*.project
*.pydevproject
*.swp
.env
__pycache__
.vagrant

*.c9

.Python
.python-version
lib
include
anc_finder_sql