---
layout: default
---
<div class="usa-grid-wide">
    <div id="hero-image" class="usa-width-one-whole">
        <div id="hero-header-text" class="usa-width-two-thirds">
            <!-- <h1 id="hero-text">Code for DC</h1> -->
            <div id="hero-p">
                <p>Founded in 2012, Code for DC is a non-partisan, non-political group of volunteer civic hackers working together to solve local issues and help people engage with the city.</p>
            </div>
        </div>
    </div>
</div>

<div class="usa-grid">
    <div class="usa-width-three-fourths usa-section">
        <h2>Join us at one of our upcoming project nights!</h2>
        <p>Our twice-monthly meetups are open to anyone, and offer a chance to learn more about what we do, contribute to a current project, or just snag some free pizza!</p>
    </div>
    <div class="usa-width-one-half">
      <h3 id="next-meetup-date"></h3>
      <p><span id="next-location"></span>
      <br>
      <span id="next-rsvps"></span> do-gooders will be there — what about you?
      <br>
      <a id ="next-rsvp" href="https://www.meetup.com/Code-for-DC/events/" class="usa-button">RSVP on Meetup »</a>
      </p>

      <h3 id="future-meetup-date"></h3>
      <p id="future-details"><span id="future-location"></span>
      <br>
      <span id="future-rsvps"></span> do-gooders will be there — what about you?
      <br>
      <a id="future-rsvp" href="https://www.meetup.com/Code-for-DC/events/" class="usa-button">RSVP on Meetup »</a>
      </p>
      <p><strong><a href="https://www.meetup.com/Code-for-DC/events/">See all upcoming events »</a></strong></p>
    </div>
    <div class="usa-width-one-half">
      <img src="assets/projnight.jpg">
    </div>
    <!-- <div class="usa-width-one-half">
            <br>
            <h2> PROJECT NIGHT </h2>
            <br>
            <img src="assets/projnight.jpg">
            <br>
            <p>Our twice-monthly meetups are open to anyone, and offer a chance to learn more about what we do, contribute to a current project, or just snag some free pizza!</p>
    </div>

    <div class="usa-width-one-half">
        <div class="beige-section">
            <br>
            <h2> SCHEDULE </h2>
            <br>
            <h3>Project Night</h3>
            <p>Tuesday, January 8 @ 6:30pm</p>
            <p>1325 G Street, NW, 3rd Floor</p>
            <p>65 do-gooders will be there — what about you?</p>
            <p><a href="https://www.meetup.com/Code-for-DC/events/">RSVP on Meetup »</a></p>
            <br>
            <h3>Project Night</h3>
            <p>Tuesday, January 29 @ 6:30pm</p>
            <p>1200 New York Ave NW</p>
            <p>38 do-gooders will be there — what about you?</p>
            <p><a href="https://www.meetup.com/Code-for-DC/events/">RSVP on Meetup »</a></p>
        </div>
    </div> -->
</div>

<div class="usa-grid">
  <div class="usa-width-one-whole usa-section">
    <div class="usa-width-one-whole">
        <br>
        <!-- <h2 class="project-section-header">Projects</h2> -->
        <h2>Projects</h2>
        <p>The list of projects we’re working on is always changing! Here are a few of our past and current projects:</p>
        <br>
        <!-- <a href="#"> See all projects </a> -->
        <!-- <br><br> -->
    </div>

    <!-- <div class="usa-width-one-third">
        <div class="project-card">
            <img src="assets/projplaceholder.png">
            <h3> Project Name </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
        </div>
    </div> -->


    {% include project-card.html project_slug="data-portal" %}
    {% include project-card.html project_slug="anc-finder" %}
    {% include project-card.html project_slug="open-election-map" %}

<!--
    {% for project in site.projects %}
    <div class="usa-width-one-third">
        <a href="{{ project.link }}"><img src="{{ site.baseurl }}/images/project_thumbnails/{{ project.image }}"></a>
        <h3>{{ project.name }}</h3>
        <p>{{ project.content }}</p>
    </div>
    {% endfor %} -->

    <!-- <div class="usa-width-one-third">
        <img src="assets/projplaceholder.png">
        <h3>Project Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore etdolore magna aliqua. </p>
    </div>
    <div class="usa-width-one-third">
        <img src="assets/projplaceholder.png">
        <h3>Project Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore etdolore magna aliqua. </p>
    </div>
    <div class="usa-width-one-third">
        <img src="assets/projplaceholder.png">
        <h3>Project Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore etdolore magna aliqua. </p>
    </div>

    <div class="usa-width-one-third">
        <img src="assets/projplaceholder.png">
        <h3>Project Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore etdolore magna aliqua. </p>
    </div>
    <div class="usa-width-one-third">
        <img src="assets/projplaceholder.png">
        <h3>Project Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore etdolore magna aliqua. </p>
    </div>
    <div class="usa-width-one-third">
        <img src="assets/projplaceholder.png">
        <h3>Project Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore etdolore magna aliqua. </p>
    </div> -->

  </div>
</div>

<div class="usa-grid">
  <div class="usa-section">
    <div class="usa-width-one-whole">
      <h2>About</h2>
      <div class="usa-width-two-thirds">
        <p>Code for DC is a <a href="http://brigade.codeforamerica.org/">Code for America Brigade</a> located here in Washington, DC. Founded in 2012, we are a non-partisan, non-political group of volunteer civic hackers working together to solve local issues and help people engage with the city. We host twice-monthly hacknights and other events to gather, discuss, and get stuff done.</p>
        <p>We're looking to bring people with all different skill sets together to maximize our potential. Civic hackers aren't just developers — they're journalists, lawyers, designers, and interested citizens in general. The more community participation, the better.</p>
        <p><em>This website is new and we are currently adding additional content to it. You can find our old website <a href="https://codefordc.github.io/">here</a>.</em></p>
        <p>To contact us, please email <a href="mailto:team@codefordc.org">team@codefordc.org</a>.</p>
        <br>
        <br>
        <br>
      </div>
      <div class="usa-width-one-third">
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="usa-grid-wide">
    <div class="usa-width-one-whole" align="center">
        <!-- <br>
        <button> Submit a Proposal </button> -->
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        //mapboxgl.accessToken =
        //    'pk.eyJ1Ijoib3BlbmRhdGFkYyIsImEiOiJjanJneDkweHEycGMxNDNtbXJiNGdndDRuIn0.ToI609oBwJsdC8fiubjl9A';
        //var map = new mapboxgl.Map({
        //    container: 'map', // HTML container id
        //    style: 'mapbox://styles/mapbox/streets-v9', // style URL
        //    center: [-77.0369, 38.9072], // starting position as [lng, lat]
        //    zoom: 13
        //});
        $.ajax({
                type: "GET",
                dataType: 'jsonp',
                url: 'https://api.meetup.com/Code-for-DC/events?photo-host=public&page=20&sig_id=163907222&sig=f5fae4cf26e324516a55732b9ca095aba0cd6e04',
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                beforeSend: function () {
                    $('#meetup').addClass('loading'); // Show loader icon
                },
                complete: function () {
                    $('#meetup').removeClass('loading'); // Hide loader icon
                }
            })
            .done((xhr) => {
                console.log(xhr.data)
                const nextMeetup = xhr.data[0]
                const futureMeetup = xhr.data[1]
                $('#next-meetup-date').html(
                  `${moment(nextMeetup.time).format("dddd, MMMM D, YYYY @ h:mm a")}`
                )
                //$('#next-meetup-date').html(
                //    moment(!nextMeetup.time).isSame(moment(), 'day') ?
                //    `${moment(futureMeetup.time).format("dddd, MMMM D, YYYY @ h:mm a")}` :
                //    `Tonight @ ${moment(nextMeetup.time).format('h:mm a')}`
                //)
                $("#next-location").html(
                    `
                <a href="https://www.google.com/maps/place/@${nextMeetup.venue.lat},-${nextMeetup.venue.lon},13z" target="_blank">${nextMeetup.venue.address_1}</a>
                    `
                )
                $('#next-rsvps').html(nextMeetup.yes_rsvp_count);
                $('#next-rsvp').attr('href', `https://www.meetup.com/Code-for-DC/events/${nextMeetup.id}`);

                if (futureMeetup) {
                    $('#future-meetup-date').html(
                        // `${moment(futureMeetup.time).format('DD, MM d, yy')} @ ${moment(futureMeetup.time).format('h:mm')}`
                        `${moment(futureMeetup.time).format("dddd, MMMM D, YYYY @ h:mm a")}`
                    )
                    $("#future-location").html(
                        `
                            <a href="https://www.google.com/maps/place/@${futureMeetup.venue.lat},-${futureMeetup.venue.lon},13z" target="_blank">${futureMeetup.venue.address_1}</a>
                        `
                    )
                    $('#future-rsvps').html(futureMeetup.yes_rsvp_count);
                    $('#future-rsvp').attr('href', futureMeetup.link);

                } else {
                    $('#future-meetup-date').hide();
                    $('#future-details').hide();
                    //$('#future-location').hide();
                    //$('#future-rsvps').hide();
                    //$('#future-rsvp').hide();
                }



                //var popup = new mapboxgl.Popup({
                //        closeOnClick: false
                //    })
                //    .setLngLat([nextMeetup.venue.lon, nextMeetup.venue.lat])
                //    .setHTML(
                //        `
                //        <div style="width: 12rem;">
                //            <h3>Project Night</h3>
                //            <p>${nextMeetup.venue.name}</p>
                //        </div>
                //    `
                //    )
                //    .addTo(map);
            });
    });

</script>
