django==1.7.1
cssselect
lxml
pdfminer==20131113
django-tinymce
BeautifulSoup4
django-picklefield
recaptcha-client
python-dateutil
pyyaml
git+https://github.com/JoshData/django-bootstrap-form
twitter
icalendar
psycopg2
flup
requests
markdown
