{% extends "base.html" %}

{% block body %}

<script type="text/javascript" src="{{ STATIC_URL }}ancs.jsonp"></script>
<script type="text/javascript" src="{{ STATIC_URL }}meetings.jsonp"></script>

   <!-- Main hero unit for a primary marketing message or call to action -->
  	<div id="masthead">
  		<div class="container">
  			<div class="row">
  				<h1 class="span8 offset1">ANC Brigade: Strengthening Hyper-Local Government</h1>
  			</div>
  		</div><!-- /container -->
  	</div><!-- /masthead -->

  	<div class="container">
  		<div class="row">
        	<div class="span10 offset1">

        		<!-- map of SMD -->

        		<h2>The single member district:</h2>
				<!-- commissioner info -->
				
				
				<h2>The advisory neighborhood committee</h2>
        		<!-- ANC info -->
        		<ul>
        			{% for smd in anc %}
        			<li>{{ smd }}: {{ smd_commissioner }}</li>
					{% endfor %}
        		</ul>
        		<h2>What's in SMD {{ smd }}</h2>
        		<!-- demographic info -->
  			</div>
  		</div><!-- /row -->
  	</div><!-- /container -->

<script type="text/javascript">



</script>

{% endblock %}