{% extends "master.html" %}
{% load humanize %}

{% block master_title %}ANC {{anc}} - Washington, District of Columbia - ANC Finder{% endblock %}

{% block head %}
<style>
h2 { font-size: 22px; }
h3 { font-size: 18px; }

@media (max-width: 767px) {
    .container {
        padding: 5px;
    }
}

#commissioners td {
    cursor: pointer;
    padding: 0 1.5em .75em 0;
    vertical-align: top;
}
    #commissioners td > div {
        padding: 4px;
    }
    #commissioners td > div:hover {
        background-color: #EEE;
    }
#commissioners .smd_num {
    font-size: 12px;
    line-height: 15px;
}
#commissioners .smd_name {
}
#commissioners .smd_contact {
    font-size: 85%;
    margin-top: 1px;
}
    #commissioners .smd_contact i {
        width: 1.2em;
    }
    #commissioners .smd_contact a {
        text-decoration: none;
    }
#commissioners .smd_actions {
    font-size: 11px;
}
.smd_extra_info_wrapper em {
    display: block;
    font-size: 12px;
    line-height: 14px;
}

#by_the_numbers > div { margin-top: 12px; }
#by_the_numbers .number { font-size: 110%; font-weight: bold; padding-left: 16px; }
#by_the_numbers .description { font-size: 90%; color: #555; line-height: 115%; height: 2.55em; padding-left: 16px; }
#by_the_numbers .explanation { color: #555; font-size: 80%; line-height: 120%; }
#by_the_numbers .credit { color: #666; font-size: 70%; line-height: 120%; margin-top: .5em; margin-bottom: 1em; }
#by_the_numbers .grid { padding: 1em 0; cursor: default; line-height: 0; }
#by_the_numbers .grid .anc { display: inline-block; width: 12px; font-size: 9px; color: #666; font-family: sans-serif; }
#by_the_numbers .grid .bar { display: inline-block; margin-top: 1px; height: 11px; background-color: #EEE; }
#by_the_numbers .grid .me .anc { color: black; font-weight: bold; }
#by_the_numbers .grid .me .bar { background-color: black !important; }
</style>
{% endblock %}

{% block master_body %}

   <!-- Main hero unit for a primary marketing message or call to action -->
    <div id="masthead">
        <div class="container">
            <div class="row" style="text-align: center">
                <h1 style="font-size: 36px">ANC {{anc}}</h1>
                <div style="margin-top: 3px">{% if info.website %}Website: <a href="{{ info.website }}">{{ info.website }}</a>{% endif %}</div>
                <i class="fa fa-rss"></i> <a href="/feeds/ancfinder-{{anc|lower}}.rss">Subscribe to updates</a> | <i class="fa fa-calendar"> </i> <a href="/feeds/ancfinder-{{anc|lower}}.ics">Add to your calendar</a>
            </div>
        </div><!-- /container -->
    </div><!-- /masthead -->

    <div class="container">
        <ul class="nav nav-tabs" style="margin-top: 1em">
          <li class="active"><a href="#home" data-toggle="tab">{{anc}} Overview</a></li>
          <li><a href="#documents" data-toggle="tab">Documents</a></li>
          <li><a href="#stats" data-toggle="tab">Statistics</a></li>
          {% if committees %}<li><a href="#committees" data-toggle="tab">Committees</a></li>{% endif %}
        </ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">
        <div class="row">
            <div class="col-sm-7">
                <h2>Overview</h2>
                <p>ANC {{anc}} covers {{info.neighborhood_list}}.</p>

                {% if next_meeting %}
                <p>The next meeting of ANC {{anc}} is <strong>{{ next_meeting|date }} at {{ next_meeting|time|cut:'.'}}</strong>.</p>
                {% endif %}
            </div>

            {% if hilight_documents|length > 0 %}
            <div class="col-sm-5">
  				<!-- highlighting documents for recent meetings and asking the user to upload some -->
                <h2 style="font-size: 18px">Key Documents</h2>
                <div id="recent-docs" class="row">
                    {% for meeting in highlight_documents %}
                    <div class="col-xs-4" style="font-size: 12px">
                        <p style="font-weight: bold">{{meeting.0|date}}</p>

                        {% for doc_type_id, doc_type_name, doc in meeting.1 %}
                        <p>
                            {% if doc %}
                                <a href="{{doc.get_absolute_url}}">{{doc_type_name}}</a>
                            {% else %}
                                Missing {{doc_type_name}}!<br>
                                <a href="/upload-document?anc={{anc}}&amp;doc_type={{doc_type_id}}&amp;meeting_date={{meeting.0.isoformat}}" class="missing">Please Upload It</a>
                            {% endif %}
                        </p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <p><a href="#documents" class="see_all" onclick="$('.nav-tabs a[href=\'#documents\']').tab('show'); return false;">More documents...</a></p>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-7">
                <h2>Commissioners</h2>
                <table id="commissioners" cols="3">
                    <tr>
                    {% for smd in smds %}
                        <td id="smd{{ smd.smd_number }}" width="33%" data-smd-number="{{ smd.smd_number }}">
                        <div>
                        <div class="smd_num_and_name">
                            <div class="smd_num">
                                <strong>SMD {{ smd.smd_number }}</strong>
                                {% if smd.position %} / {{ smd.position }}{% endif %}
                            </div>
                            <div class="smd_name">
                              {{ smd.first_name }} {{ smd.middle_name }} {{ smd.nickname }} {{ smd.last_name }} {{ smd.suffix }}
                            </div>
                            {% if smd.email %}
                            <div class="smd_contact clearfix">
                              <a href="mailto:{{ smd.email }}"><i class="fa fa-envelope-o"></i> {{smd.email|truncatechars:22}}</a>
                            </div>
                            {% endif %}
                            {% if smd.twitter_handle %}
                            <div class="smd_contact clearfix">
                              <a href="https://twitter.com/{{ smd.twitter_handle }}"><i class="fa fa-twitter"></i> @{{ smd.twitter_handle }}</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="smd_actions">
                            <a href="#" class="show_on_map">show on map</a>
                            | <a href="/update-info?anc={{anc}}&amp;smd={{smd.smd_number}}">edit</a>
                        </div>
                        <div class="smd_extra_info" style="display: none">
                          <div class="smd_extra_info_wrapper">
                              <p><em>Neighborhoods</em> {{ smd.neighborhood_list|capfirst }}</p>
                              <p><em>Phone</em> {% if smd.phone %}{{ smd.phone }}{% else %}None provided{% endif %}</p>
                          </div>
                        </div>
                        </div>
                        </td>
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}</tr><tr>{% endif %}
                    {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="col-sm-5">
                <div id="map_canvas" style="margin-top: 2.5em;"> </div>
                <p style="margin-top: 1em">Download PDF map of SMD:<br>
                    {% for smd in smds %}
                        <a href="/assets/smd-pdfs/{{ smd.smd }}.pdf">{{smd.smd_number}}</a>
                    {% endfor %}
                </p>
            </div><!-- /column -->
        </div>
    </div> <!-- home tab -->

    {% if committees %}
    <div class="tab-pane" id="committees">
        <div style="float: right">
            <a href="/update-info?anc={{anc}}&amp;smd=&amp;field_name=committees">edit</a>
        </div>

        <h2>Committees</h2>

        {{committees|safe}}        
    </div> <!-- commissioners tab -->
    {% endif %}

    <div class="tab-pane" id="documents">
        <div class="row">
            <div class="col-sm-7">
                                <h2 id="document_archive">Document Archive</h2>
                                {% if documents %}
                                <ul id="document_list">
                                        {% for doc in documents %}
                                                <li><a href="{{doc.get_absolute_url}}">{{doc.get_display_date|date}}. {% if doc.get_display_title %}{{doc.get_display_title}}{% endif %}</a></li>
                                        {% endfor %}
                                </ul>
                                {% endif %}
                                <p>Have more documents? <a href="/upload-document?anc={{anc}}">Upload them!</a></p>
            </div>
        </div>
    </div> <!-- documents tab -->

    <div class="tab-pane" id="stats">
        <h2 style="padding-left: 8px">{{ anc }} by the numbers</h2>

        <div class="row" id="by_the_numbers">
        {% for stat in census_stats %}
            <div class="col-xs-3 col-sm-2 col-lg-1">
                <div class="number">{% if stat.is_dollars %}${% endif %}{{stat.value|intcomma}}{% if stat.is_percent %}%{% endif %}</div>
                <div class="description">{{stat.label}}</div>
                <div class="grid">
                    {% for cell in stat.grid %}
                        <div
                            {% if cell.anc == anc %}class="me"{% endif %}
                            title="{{cell.anc}}: {% if stat.is_dollars %}${% endif %}{{cell.value|intcomma}}{% if stat.is_percent %}%{% endif %}">
                            <div class="anc">{{cell.anc}}</div>
                            <div class="bar" style="width: {{cell.width}}px;"></div>
                            <div class="clearfix"></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="explanation">{{stat.details}}</div>
                <div class="credit">Credit: {{stat.credit}}</div>
            </div>
            {% if forloop.counter == 6 %}<div class="clearfix visible-sm"></div><div class="clearfix visible-md"></div>{% endif %}
            {% if forloop.counter|divisibleby:3 %}<div class="clearfix visible-xs"></div>{% endif %}
        {% endfor %}
        </div>
    </div><!-- /body -->


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">
        var map = null;

        function on_resize() {
            var cw = $('#map_canvas').parent().width();
            var wht = $(window).height();
            $('#map_canvas').css({ width: cw, height: cw < wht ? cw : wht });
        }

        function make_map(bound1, bound2, bound3, bound4) {

            on_resize();
            $(window).resize(on_resize);

            try {
                google;
            } catch (err) {
                return; // We're working off-line and don't have access to Google Maps.
            }

            var sw = new google.maps.LatLng(bound1, bound2);
            var ne = new google.maps.LatLng(bound3, bound4);
            var bounds = new google.maps.LatLngBounds(sw, ne);

            var myOptions = {
                zoom: 13,
                center: bounds.getCenter(),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                panControl: false,
                zoomControl: true,
                mapTypeControl: false,
                scaleControl: true,
                streetViewControl: false,
                styles: [ { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [ { "visibility": "off" } ] } ]
                };

            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            // prevent the map from responding to mouse events on ultra small screens
            // since it's 100% wide and would prevent scrolling past the map
            if ($(window).width() < 768)
                map.setOptions({draggable: false, zoomControl: false, scrollwheel: false, disableDoubleClickZoom: true});

            map.fitBounds(bounds);

            add_overlay(map, "dc-ward-2013", 8, 12);
            add_overlay(map, "dc-anc-2013", 13, 14);
            add_overlay(map, "dc-anc-2013-outlines", 15, 20);
            add_overlay(map, "dc-smd-2013-outlines", 13, 14);
            add_overlay(map, "dc-smd-2013", 15, 20);

        }

        $(make_map({{info.bounds.1}}, {{info.bounds.0}}, {{info.bounds.3}}, {{info.bounds.2}}));

        // Add a tile overlay for this layer.
        function add_overlay(map, layer, minzoom, maxzoom, opacity) {
            if (!opacity) opacity = 1.0;
            var tileimgformat = 'png';
            if (navigator.appName == 'Microsoft Internet Explorer' && new RegExp("MSIE [678]").exec(navigator.userAgent)) tileimgformat = 'gif';

            var overlay = new google.maps.ImageMapType({
              getTileUrl: function(coord, zoom) {
                  if (maxzoom && zoom > maxzoom) return null; // minZoom, maxZoom ineffectual below?
                  if (minzoom && zoom < minzoom) return null;
                  return "http://gis.govtrack.us/map/tiles/" + layer + "/" + zoom + "/" + coord.x + "/" + coord.y + "." + tileimgformat + "?gen=8";
              },
              tileSize: new google.maps.Size(256, 256),
              isPng: tileimgformat == 'png',

              minZoom: minzoom,
              maxZoom: maxzoom,
              opacity: (tileimgformat == 'png' ? .8 : .25) * opacity
            });
            map.overlayMapTypes.insertAt(0, overlay);
        }

	        $('.make-popover').popover({
	            container: 'body',
	            trigger: 'hover',
	            placement: function() { return $(window).width() > 640 ? 'right' : 'bottom'; },
	            html: true,
	        });


        $("#smd" + window.location.hash.replace("#", "")).find(">div").css({"background-color": "#ffffcc"});

                var smd_bounds = {
                    {% for smd in smds %}
                        '{{smd.smd_number}}': new google.maps.LatLngBounds(new google.maps.LatLng({{smd.bounds.1}}, {{smd.bounds.0}}), new google.maps.LatLng({{smd.bounds.3}}, {{smd.bounds.2}})){% if not forloop.last %},{% endif %}
                    {% endfor %}
                };

                $("#commissioners td").each(function() {
                    var smd_number = $(this).attr('data-smd-number');

                    $(this).find('.smd_num_and_name').popover({
                        container: 'body',
                        trigger: 'hover',
                        placement: function() { return $(window).width() > 640 ? 'right' : 'bottom'; },
                        title: "SMD " + smd_number,
                        html: true,
                        content: $(this).find('.smd_extra_info').html()
                    });


                    $(this).find('.show_on_map').click(function() {
                        if (!map) return;
                        map.fitBounds(smd_bounds[smd_number]);
                        map.overlayMapTypes.clear();
                        add_overlay(map, "dc-ward-2013", 8, 12);
                        add_overlay(map, "dc-anc-2013", 13, 14);
                        add_overlay(map, "dc-anc-2013-outlines", 15, 20);
                        add_overlay(map, "dc-smd-2013-outlines", 13, 14);
                        add_overlay(map, "dc-smd-2013", 15, 20);
                        return false;
                    });
                });

      $(document).ready(function() {
        // Found this at http://stackoverflow.com/a/21443271/33194
        if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');
        
        // remember the hash in the URL without jumping
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
          if(history.pushState) {
                history.pushState(null, null, '#'+$(e.target).attr('href').substr(1));
          } else {
                location.hash = '#'+$(e.target).attr('href').substr(1);
          }
        });
      });

    </script>
{% endblock %}
