{% extends "master.html" %}
{% load humanize %}

{% block master_title %}{{document.get_display_title}} -- ANC Finder{% endblock %}

{% block head %}
<style>
	#doc .page {
		border: 1px solid #DDD;
		margin: 1em 0;
		padding: 4px;
	}
</style>
{% endblock %}

{% block master_body %}

   <!-- Main hero unit for a primary marketing message or call to action -->
  	<div id="masthead">
  		<div class="container">
  			<div class="row">
  				<h1>{{document.get_display_title}}</h1>
  				{% if document.doc_type != 1 and document.doc_type != 2 %}
					<div style="text-align: center">{{document.get_doc_type_display}}</div>
				{% endif %}
  			</div>
  		</div><!-- /container -->
  	</div><!-- /masthead -->
  	
	<div class="container">
		<h1></h1>

		<div class="row">
			<div class="col-sm-3">
				<h2 style="font-size: 100%">About</h2>

				<p>ANC: <a href="/{{document.anc}}">{{document.anc}}</a></p>

				{# <p>{% for tag in document.get_tags %}{{tag}}{% if forloop.revcounter > 1 %}, {% endif %}{% endfor %}</p> #}

				{% if document.meeting_date %}<p>Meeting Date: {{document.meeting_date|date}}</p>{% endif %}
				{% if document.pub_date %}<p>Published on: {{document.pub_date|date}}</p>{% endif %}
				<p>Uploaded on: {{document.created|date}}</p>
				{% if document.source_url %}<p><a href="{{document.source_url}}">Download Original</a></p>{% endif %}

				{% if user %}
					<p><a href="/document/{{document.id}}/edit">Edit This Information</a></p>
				{% endif %}
			
			</div><!-- /column -->
		
			<div class="col-sm-9">
				
				<div id="doc">
					{{ document.annotation_document.body|safe }}
				</div>
	
			</div><!-- /column -->
		</div>
  	</div><!-- /body -->

{% endblock %}

