{% extends "master.html" %}

{% block master_title %}Edit Document - ANC Finder{% endblock %}

{% block head %}
<link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.7/annotator.min.css">

<style>
#annotation_body .page {
	border: 1px solid #DDD;
	margin: 1em 0;
	padding: 4px;
}
.annotator-widget .btn-toolbar {
	padding: 3px;
}
.annotator-widget .btn {
	margin: 0 4px 0 0;
	padding: 0px 2px;
	color: #444;
	font-size: 11px;
}
</style>
{% endblock %}

{% block scripts %}
<script src="/static/showdown.js"></script>
<script src="http://assets.annotateit.org/annotator/v1.2.7/annotator-full.js"></script>

<script>
Annotator.Plugin.ReadOnlyAnnotations = function (element) {
  return {
    pluginInit: function () {
      this.annotator
          .subscribe("annotationViewerShown", function (viewer) {
            for (var i in viewer.annotations) {
            	if (viewer.annotations[i].readonly) { 
            		$(viewer.element).find(".annotator-edit").remove();
            		$(viewer.element).find(".annotator-delete").remove();
				}
			}
          })
    }
  };
};
Annotator.Plugin.CommonTags = function (element) {
  var tags = [ [ "ABRA", "zoning", "grant" ], ["something", "other"] ];

  return {
    pluginInit: function () {
	  var tagsinput = this.annotator.editor.element.find("#annotator-field-1");

      var elem = $("<div class='btn-toolbar'/>");
      for (var i in tags) {
	      var grp = $("<div class='btn-group'/>");
	      elem.append(grp);
	      for (var j in tags[i]) {
	      	var tagtext = tags[i][j];
	      	var b = $("<span class='btn'/>").text(tagtext);
	      	grp.append(b)
	      	b.on("click", function() {
	      		// if the tag is not yet applied add it, otherwise remove it
	      		var tagtext = $(this).text();
	      		var t = Annotator.Plugin.Tags.prototype.parseTags(tagsinput.val());
	      		var has_tag = false;
	      		for (var k in t) {
	      			if (t[k] == tagtext) {
	      				has_tag = true;
	      				t.splice(k, 1); // remove
	      				break;
	      			}
	      		}
      			if (!has_tag) t.push(tagtext);
	      		tagsinput.val(Annotator.Plugin.Tags.prototype.stringifyTags(t));
	      	});
	      }
      }

	  this.annotator.editor.element.find('ul:first').append(elem);

      this.annotator
          .subscribe("annotationEditorShown", function (editor, annotation) {
          	//editor.element.find("button").off("click");
          });
    }
  };
};

jQuery(function ($) {
	$('#id_pub_date, #id_meeting_date').each(function() {
		// Store the date in ISO format natively by making a hidden
		// form field that ties to Django, and having the datepicker
		// store the value there, but use a new field for display.
		var newfield = $(this).clone();
		newfield.attr('id', $(this).attr('id') + "_display");
		newfield.attr('name', '');
		newfield.insertAfter($(this));
		$(this).hide();

		// initialize value in the display field, also used as datepicker's initial value
		if ($(this).val() != "")
			newfield.val($.datepicker.formatDate($.datepicker.regional[""].dateFormat, $.datepicker.parseDate('yy-mm-dd', $(this).val())));

		// turn on the datepicker
		newfield.datepicker({ altField: this, altFormat: "yy-mm-dd" });
	});

	/*
    $('#annotation_body').annotator()
    	.annotator('addPlugin', 'Unsupported')
    	.annotator('addPlugin', 'Tags')
    	.annotator('addPlugin', 'CommonTags')
    	.annotator('addPlugin', 'Markdown')
    	.annotator('addPlugin', 'ReadOnlyAnnotations')
    	.annotator('addPlugin', 'Store', {
			  prefix: '{{storage_api_base_url|escapejs}}',
			  annotationData: {
				'document': {{document.annotation_document.id}}
			  },
			  loadFromSearch: {
				'document': {{document.annotation_document.id}}
			  }
			});
	*/

	// When the doc type is Aganda or Minutes, hide the title field since we
	// will override it internally.
	$('#id_doc_type, #id_meeting_date_display').change(function() {
		var doc_type = $('#id_doc_type').val();
		var auto_title = (doc_type == '1' || doc_type == '2' || doc_type == '14');
		if (!auto_title) {
			$('#control-group-title').fadeIn();
		} else {
			$('#control-group-title').fadeOut();
			$('#id_title').val("No Title");
		}
	});
	$('#id_doc_type').change();
});
</script>

{% endblock %}

{% block master_body %}
<div id="masthead">
	<div class="container">
		<div class="row">
			<h1>Edit Document: {{document.get_display_title}}</h1>
		</div>
	</div><!-- /container -->
</div><!-- /masthead -->

<div class="container">
  <div class="row">
	<div class="col-sm-3">
		{% if request.method == "POST" %}<p class="text-success" style="margin-top: 1em">Document information has been updated.</p>{% endif %}
		{% include "form.html" with form=form title="Add Information" form_display_layout="vertical" submit_button_text="Update" %}
		<hr/>
		<div><a href="{{document.get_absolute_url}}">View document on site &gt;</a></div>
		<div><a href="/upload-document">Upload another &gt;</a></div>
	</div>
  	<div class="col-sm-7">
  		<!--
		<legend style="margin-top: 20px">Tag This Document</legend>
  		
		<p><strong><em>Select some text in the document to tag or annotate it.</em></strong></p>
		-->
		
		<div id="annotation_body" style="font-size: 90%"> {# reduce font size to avoid line wraping arifacts #}
			{{ document.annotation_document.body|safe }}
		</div>
  	</div>
  </div>
</div>
{% endblock %}
