{% extends "base.html" %}

{% block title %}Disclaimers{% endblock%}

{% block masthead %}Legal Stuff{% endblock %}

{% block body %}

    <h2>Required Disclaimers</h2>
		<p>This project uses data from a variety of different sources to provide the most accurate information possible. Some of these sources only offer their data subject to certain conditions.</p>

    <p>It is the belief of this project that civic data from the government should be <a href="http://www.opengovdata.org">free and open</a> to reuse. However, until such time as the below organizations feel the same way, we will comply with their conditions.</p>

		<p>The United States Census requires us to tell you that:</p>
		<blockquote>This product uses the Census Bureau Data API but is not endorsed or certified by the Census Bureau.</blockquote>
		<p>The District of Columbia requires us to tell you that:</p>
		<blockquote>The data made available here has been modified for use from its original source, which is the Government of the District of Columbia. Neither the District of Columbia Government nor the Office of the Chief Technology Officer (OCTO) makes any claims as to the completeness, accuracy or content of any data contained in this application; makes any representation of any kind, including, but not limited to, warranty of the accuracy or fitness for a particular use; nor are any such warranties to be implied or inferred with respect to the information or data furnished herein. The data is subject to change as modifications and updates are complete. It is understood that the information contained in the dataset is being used at one's own risk.</blockquote>
		<p>The District of Columbia also requires us to acknowledge DC Geographic Information Systems Program (DC GIS) in order to use their geographic information, such as ABRA license locations.</p>

{% endblock %}
