{% extends "base.html" %}

{% block title %}Contribute ANC Information{% endblock %}

{% block body %}

          <h2 id="share1">We Need Your Help!</h2>
          <p>This project is only as good as the data in it, so we need your help to make sure that we have the most up-to-date information. There are several ways that you can chip in:</p>
          <h3>Submit Commissioner Information</h3>
          <p>If you spot anything incorrect on this site, you can update it! Follow the <b>edit</b> links where you see commissioner information on the site.</p>
          <h3>Submit Some Documents</h3>
          <p>Using our <a href="{% url 'ancfindersite.backend_views.upload_document' %}">document uploader</a>, you can share documents in 3 different ways: uploading PDFs, sharing a link to a PDF on another website, or just pasting the text of a document.</p>
          <p>We're looking for any kind of ANC document: agendas, minutes, resolutions, grants, etc. You can also edit previously-uploaded documents to add or correct information aobut them.</p>
          <h3>Correct Us!</h3>
          <p>While we're trying our best to pull data only from sources that we trust, it's always possible that something goes wrong along the way. If you see information that needs fixing, and you can't fix it through either of the above methods, <a href="{%url 'ancfindersite_about' %}">let us know</a>! We want to make sure that we do this right.</p>
          <h3>Open a Pull Request on Github</h3>
          <p>This site is an open-source project. Have a suggestion for the code behind it? Let us know! The link to our repo is down there at the bottom of the page.</p>

{% endblock %}
