{% extends "base.html" %}

{% block title %}About ANC Authority - ANCBrigade{% endblock %}

{% block masthead %}Why should I care about my ANC?{% endblock %}

{% block body %}
          <p>The main authority of ANC commissioners comes from making recommendations to the DC Council and DC government about many different community issues, such as parking, recreation, street improvements, liquor licenses, zoning, restaurants and businesses, police protection, sanitation and trash collection, and the District's annual budget. The ANCs can often be influential in these matters.</p>
          <p>ANCs also have a budget for making local grants, and their decisions on those are final. They submit their spending decisions to an auditor after they have been made.</p>
          <p>Generally, ANCs are seen as the first source for community feedback on virtually every civic issue in DC. Public officials, businesses, advocates, and other stakeholders often present to the ANC. And ANCs often meet with or testify before the Council on legislative and budget issues and before agencies on regulatory issues. They also provide a venue for discussion on other important community issues that aren't easily categorized.</p>
          <h2>ANCs just make recommendations?! How important is that?</h2>
          <p>For some decisions, like local grants, ANCs make the final determination. On other questions, like liquor licenses and zoning, decisions of the ANC are indeed considered advisory. However, the DC Code (<a href="http://dccode.org/browser/#/1/1-309.10">DC Code § 1-309.10</a>) requires that government entities like the Alcoholic Beverage Control Board and the Office of Zoning give "great weight" to the ANC's recommendation.</p>
          <h2>What does it mean that ANC recommendations are given "great weight"?</h2>
          <p>Courts are still working out the exact implications, but the recommendations and decisions of ANCs are quite influential. Each DC agency is required to give an ANC notice of matters before them that are occurring in that ANC. The ANC then has the opportunity to express their opinion on that matter. Agencies must give this ANC opinion "great weight." While this isn't always the final decision on a matter, the agency must at the very least acknowledge the views of the ANC and explain why they are are agreeing or departing from it. <a href="http://dccode.org/browser/#/1/1-309.10">DC Code § 1-309.10</a></p>
          <p><b>Some examples of issues that ANC commissioners examine and make recommendations about include:</b></p>
          <ul>
            <li><b>Liquor Licenses:</b> Every time a restaurant, bar, grocery, or liquor store applies to obtain or renew a liquor license, they must apply to the DC <a href="http://abra.dc.gov/">Alcoholic Beverage Regulation Administration (ABRA)</a>. ABRA bases it decisions on a range of factors, with special consideration to community input and the opinion of the ANC. This is often one of the most frequently and heavily debated ANC issues. Instead of opposing an establishment's license application, ANC's will often negotiate voluntary or settlement agreements that add additional requirements that are more restrictive than actual laws and regulations. For example, a voluntary agreement might limit the hours of operation, amount of outdoor seating, or impose fines every time the establishment exceeds agreed upon noise levels.</li>
            <li><b>Zoning:</b> When a property owner wants to develop or change the use on their land that's not authorized by their current zoning, they can apply to the Board of Zoning Adjustment (BZA) for a special exception, variance or zoning code amendment. This will generally concern issues like traffic, parking, density, and the types of uses on a property. Like other agencies, the BZA gives the opinion of the local ANC "great weight" in considering an application.</li>
            <li><b>Historic Preservation:</b> Before developing or otherwise changing their property, an owner must receive approval from the Historic Preservation Review Board if their building is considered historically significant. The ANC can express their opinion on a project and whether it adheres to the historic nature of the building and neighborhood (and whether that even matters to the ANC in the first place).</li>
            <li>Parking</li>
            <li>Sanitation and Trash Collection</li> 
            <li>Street Improvements</li>
            <li>New Businesses</li>
            <li>Police Protection</li>
            <li>Sanitation and Trash Collection</li>
            <li>DC's Annual Budget</li>
          </ul>
          <br/>
{% endblock %}
