{% extends "base.html" %}
{% load humanize %}

{% block head %}
<style>
	#doc .page {
		border: 1px solid #DDD;
		margin: 1em 0;
		padding: 4px;
	}
</style>
{% endblock %}

{% block body %}

   <!-- Main hero unit for a primary marketing message or call to action -->
  	<div id="masthead">
  		<div class="container">
  			<div class="row">
  				<h1>{{document.title}}</h1>
				<div style="text-align: center">{{document.get_doc_type_display}}</div>
  			</div>
  		</div><!-- /container -->
  	</div><!-- /masthead -->
  	
	<div class="container">
		<h1></h1>

		<div class="row">
			<div class="span3">
			
				<h2 style="font-size: 100%">About</h2>

				<p>{% for tag in document.get_tags %}{{tag}}{% if forloop.revcounter > 1 %}, {% endif %}{% endfor %}</p>

				{% if document.meeting_date %}<p>Meeting Date: {{document.meeting_date|date}}</p>{% endif %}
				{% if document.pub_date %}<p>Published on: {{document.pub_date|date}}</p>{% endif %}
				<p>Uploaded on: {{document.created|date}}</p>
				{% if document.source_url %}<p><a href="{{document.source_url}}">Download Original</a></p>{% endif %}
			</div><!-- /column -->
		
			<div class="span9">
				
				<div id="doc">
					{{ document.annotation_document.body|safe }}
				</div>
	
			</div><!-- /column -->
		</div>
  	</div><!-- /body -->

{% endblock %}

