{% extends "base.html" %}

{% block body %}

   <!-- Main hero unit for a primary marketing message or call to action -->
  	<div id="masthead">
  		<div class="container">
  			<div class="row">
  				<h1>How are ANC commissioners elected?</h1>
  			</div>
  		</div><!-- /container -->
  	</div><!-- /masthead -->

    <div class="container">
      <div class="row">
        <div class="span10 offset1">
          <p>You elect your ANC Commissioner every two years in non-partisan elections. To run for a commissioner seat, you need 25 signatures from neighbors in your Single Member District to put your name on the ballot. Candidates for ANC commissioner are allowed to raise contributions of up to $25 from an individual or entity.</p>
          <p>ANC campaigns are typically small, grassroots efforts; winning candidates often run unopposed and receive just a few hundred votes. In fact, many commissioner seats are currently vacant and many ANCs are looking for volunteers to help with various projects.</p>
          <p>Visit the DC Board of Elections website to <a href="http://www.dcboee.org/candidate_info/general_info/">learn more about running for ANC commissioner</a>.</p>
          <p>If you have more details, evidence in DC code, or corrections about this info, <a href="share.html">please send it to us.</a></p>
        </div>
      </div><!-- /row -->
    </div> <!-- /container -->

{% endblock %}