{% extends "master.html" %}

{% block master_title %}ANCBrigade.com: Strengthening DC Advisory Neighborhood Commissions{% endblock %}

{% block head %}
<style>
#map_canvas_google {
	width: 400px;
	height: 340px;
	margin-top: 30px;
}
</style>
{% endblock %}

{% block master_body %}

<div id="masthead">
    	<div class="container">
    		<div class="row">
    			<div class="span10 offset1">
    				<h1><a class="smooth" href="#what-is-an-anc">What is an ANC? Give me the tour! <span style="margin-left: .5em">▶</span></a></h1>
    			</div>
    		</div>
    	</div>
</div>

<div class="main widecontainer style2">
	<div class="container">
		<div class="row">
			<div class="span5 offset1">

			<div id="intro">
				<h3>Find Your ANC</h3>
				<p style="margin-bottom: 1em">Washington DC is divided into 40 districts called Advisory Neighborhood Commissions, or ANCs.</p>
				<p>Let&rsquo;s find yours. Enter your home address to get started:</p>
			</div>
			<div id="addr_box">
				<input id="addr" type="text"/>
				<div>Washington, DC</div>
				<input type="button" onclick="do_address()" value="Find Out About My ANC ▶"/>
				<div id="use_my_location"><a href="#" onclick="use_my_location(); return false;">Use my current location</a></div>
			</div>
			
			<!--If search successful, details below-->
			<div id="info" style="display: none; margin-top: 1em;">
				<div>
					<p>You live in <b>ANC <span class="anc-short-name"> </span></b> within <b>Ward <span class="ward-name"> </span></b>.
					It&rsquo;s called <span class="anc-name"> </span> for short.</p>
					
					<p>Your single member district is <b><span class="smd-name"> </span></b>.</p>
					
					<p>Your commissioner is: <b><span class="smd-commissioner"> </span></b><span class="smd-commissioner-email"></span>. <span class="smd-commissioner-position"></span></p>
					
					<p><span id="smd-terms"> </span> <span id="smd-contestation"> </span></p>

					<p class="anc-has-website">ANC <span class="anc-name"> </span>&rsquo;s website is <a class="anc-website"> </a>.
					
					<p id="meeting" style="display: none"> </p>
					
					<p><a id="anc-link">Find out more about this ANC.</a></p>
				
					</div>
			</div>
			<!--Search unsuccessful-->
			<div id="info_address_not_found" style="display: none">
				We could not find your address, sorry!
			</div>
			
		  </div>
		  
		  <div id="map_col" class="span5" style="padding-bottom: 10px">
			<div id="map_canvas_google" class="map"> </div>
		  </div>
		</div>
	</div>
	</div>
	</div>
	
        <div id="info-wrapper" style="display: none">
        <div id="what-is-an-anc" class="widecontainer style1">
	<div class="container">
		<div class="row">
			<div class="span5 offset1 text">
				<h2>What is an ANC?</h2>
				<p class="what-is-it">Washington DC is divided into 40 districts called Advisory Neighborhood Commissions, or ANCs.</p>
				<p class="how-many-commissioners">ANCs are lead by an average of 2-12 commissioners who make decisions about a broad range of issues in your community, such as liquor licenses, parking, and sanitation.</p>
				<div id="commissioners"> </div>
				<p>This is your most local form of government. <span class="anc-has-website" style="display: none">Check out your ANC&rsquo;s website at <a class="anc-website"> </a>.</span></p>
			</div>
			<div class="span5 image">
				<img src="static/img/anc.svg"/>
			</div>
		</div>
	</div>
	</div>

	<div class="widecontainer style2">
	<div class="container">
		<div class="row">
			<div class="span5 offset1 image">
				<img src="static/img/neighborhood.svg"/>
			</div>
			<div class="span5 text">
				<h2>Single Member Districts</h2>
				<p>Each ANC has 2-12 ANC commissioners who each represent a division of the ANC called a Single Member District, or SMD. Commissioners each represent about 2,000 DC residents who live in the SMD.</p>
				<p class="has-commissioner" style="display: none">Your commissioner in <span class="smd-name"> </span> is <span class="smd-commissioner"> </span><span class="smd-commissioner-email"></span>.</p>
			</div>
		</div>
	</div>
	</div>
 
	<div class="widecontainer style1">
	<div class="container">
		<div class="row">
			<div class="span5 offset1 text">
				<h2>What do ANCs do? Why should I care?</h2>
				<p>ANCs hold regular meetings and make decisions to advise the DC Council and government about many important community issues, such as parking, recreation, street improvements, liquor licenses, zoning, restaurants and businesses, police protection, sanitation and trash collection, and the District's annual budget. Their recommendations are often very influential.</p>
				<p>Your ANC commissioners also control grant money of several thousand dollars (or more) for the general purpose of improving their area and hiring staff. <a href="{% url 'ancbrigadesite_authority' %}">Learn more about ANC authority and budget.</a></p>
			</div>
			<div class="span5 image">
				<img src="static/img/people.svg"/>
			</div>
		</div>
	</div>
	</div>
 
	<div class="widecontainer style2">
	<div class="container">
		<div class="row">
			<div class="span5 offset1 image">
				<img src="static/img/vote.svg"/>
			</div>
			<div class="span5 text">
				<h2>Who elects ANC commissioners?</h2>
                                <p>You elect your ANC commissioner every two years in non-partisan elections. ANC commissioners each represent one single member district (SMD). ANC campaigns are typically small, grassroots efforts. In fact, winning candidates often run unopposed and receive just a few hundred votes.</p>
                                <p>To run for a seat, a candidate must collect 25 signatures from registered voters in his or her SMD. Visit the DC Board of Elections website to <a href="http://www.dcboee.org/candidate_info/general_info/">learn more about running for ANC commissioner</a>.</p>
			</div>
		</div>
	</div>
	</div>

	<div class="widecontainer style1">
	<div class="container">
		<div class="row">
			<div class="span5 offset1 text">
				<h2>How can I get involved?</h2>
				<p>To get involved in your ANC, you can attend ANC meetings, learn more about your ANC, or even <a href="http://runforanc.com/">become an ANC Commissioner</a>.</p>
				<p><a class="smooth" href="#intro">Start by finding your ANC.</a></p>
			</div>
			<div class="span5 image">
				<img src="static/img/hand.svg"/>
				
				<div id="jump_to_top">
					<a href="#">Jump to the top ▴</a>
				</div>
			</div>
		</div>
	</div>
	</div>
      </div>
{% endblock %}

{% block scripts %}
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="http://gis.govtrack.us/static/js/google_maps_helpers.js"></script>
	<script type="text/javascript" src="http://gis.govtrack.us/static/js/maps_helpers.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}meetings.jsonp"></script>
	
	<script type="text/javascript">
		var anc_data = {{ anc_data|safe }};
		
		var map = null;
		
		$(function() {
			// manually resizing things causes too much responsive design trouble
			//resize_things();
			//$(window).resize(resize_things);
			
			initialize_google_map(false);
			add_overlay(map, "dc-ward-2013", 8, 12);
			//add_overlay(map, "dc-ward-2013-outlines", 13, 20);
			add_overlay(map, "dc-anc-2013", 13, 14);
			add_overlay(map, "dc-anc-2013-outlines", 15, 20);
			add_overlay(map, "dc-smd-2013-outlines", 13, 14);
			add_overlay(map, "dc-smd-2013", 15, 20);
			
			$('#addr').keydown_enter(do_address);
			$('#addr').input_default("Enter an address!");
			
			if (navigator.geolocation) $('#use_my_location').show();
			
			$('a.smooth').click(function(e) {
                          $("#info-wrapper").show();
				e.preventDefault();
				var target = this.hash,
				$target = $(target);
				$('html, body').stop().animate({
					'scrollTop': $target.offset().top - 15
				}, 900, 'swing', function () {
					window.location.hash = target;
				});
				return false;
			});
			
			$('#jump_to_top a').click(function(e) {
				e.preventDefault();
				$('html, body').stop().animate({
					'scrollTop': 0
				}, 900, 'swing', function () {
					window.location.hash = "#";
				});
				return false;
			});
			
			// If the URL fragment has an SMD name, show the info for that SMD.
			show_smd_info(window.location.hash.toUpperCase().substring(1), null);
		});

		function resize_things() {
			$('#map_col').css({ height: $('#map_col').width() * 3.5/4 });
			
			var h = $(window).height() - $('.widecontainer.main').offset().top*2;
			$('.widecontainer.main').css({ minHeight: h });

			var w = $(window).width()/2 - 100;
			if (w > 400) $('#map_canvas_google').css({ width: w });
			if (h-100 > 340) $('#map_canvas_google').css({ height: h-100 });
			if (map) google.maps.event.trigger(map, "resize");
		}

		{% include "ancbrigadesite/google_maps.js" %}
		
		function use_my_location() {
			navigator.geolocation.getCurrentPosition(
				function(position) {
					if (!position || !position.coords) return;
					$('#addr').val("your current location");
					show_info_for_coord(position.coords.latitude, position.coords.longitude);
				},
				function(position) {
					alert("We couldn't get your current location.");
				}
			);
		}

		var geocoder;
		function do_address() {
			var addr = $('#addr').val() + ", Washington, DC";
			if (!geocoder) geocoder = new google.maps.Geocoder();
			geocoder.geocode(
				{
					'address': addr,
					'bounds': new google.maps.LatLngBounds(new google.maps.LatLng(23.471824072761766, -97.75457204169999), new google.maps.LatLng(51.6101792052535, -56.27019704169999)),
					'language': 'en',
					'region': 'us'
				},
				function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						var geocoder_result = results[0].geometry.location;
						show_info_for_coord(geocoder_result.lat(), geocoder_result.lng());
					}
				}
				);
		}
		
		function show_info_for_coord(lat, lng) {
						$.ajax({
							url: "http://gis.govtrack.us/boundaries/dc-smd-2013/?contains=" + lat + "," + lng,
							dataType: "jsonp",
							success: function(data) {
								if (data.objects.length == 0) {
									// Not found!
									hide_smd_info();
								} else {
									show_smd_info(data.objects[0].external_id.toUpperCase(), new google.maps.LatLng(lat, lng));
								}
							}
						});
		}

		function hide_smd_info() {
			$('#info').fadeOut();
			$('#info_address_not_found').fadeIn();
		}
		
		var location_marker = null;
		function show_smd_info(smd_id, addr_coords) {
								var ward = anc_data[smd_id.substring(0,1)];
								if (!ward) return false;
								var anc = ward["ancs"][smd_id.substring(1,2)];
								if (!anc) return false;
								var smd = anc["smds"][smd_id.substring(2,4)];
								if (!smd) return false;
								
								// put SMD in the URL fragment so the user can reload the page
								// and get right to his district again
								window.location.hash = "#" + smd_id;
								
								// hide prompt text to enter your address
								$('#intro').slideUp();
								
								// update the map
								if (map) {
									var boundsarray = anc.bounds;
									var sw = new google.maps.LatLng(boundsarray[1], boundsarray[0]);
									var ne = new google.maps.LatLng(boundsarray[3], boundsarray[2]);
									var bounds = new google.maps.LatLngBounds(sw, ne);
									map.fitBounds(bounds);
									if (addr_coords) map.panTo(addr_coords);
									map.overlayMapTypes.clear();
									add_overlay(map, "dc-anc-2013/" + smd_id.toLowerCase().substring(0, 2), null, null, .75);
									add_overlay(map, "dc-smd-2013/" + smd_id.toLowerCase());
									
									if (addr_coords) {
										if (!location_marker) {
											location_marker = new google.maps.Marker({
												map: map,
												position: addr_coords,
												title: "You"
												});
										}
										location_marker.setPosition(addr_coords);
										location_marker.setVisible(true);
									} else if (location_marker) {
										location_marker.setVisible(false);
									}
								}
								
								// show ANC/SMD info
								$(".smd-name").text(smd.smd);
								$(".ward-name").text(ward.ward);
								$(".anc-short-name").text(anc.anc_letter);
							
								$(".anc-name").text(anc.anc);
								$(".anc-website").text(anc.website);
								$(".anc-website").attr('href', anc.website);
								if (!anc.website) {
									$(".anc-has-website").hide();
								}
								
								$('.has-commissioner').show();
								var name = "";
								name += smd["first_name"] + " ";
								if (smd["nickname"]) name += smd["nickname"] + " ";
								if (smd["middle_name"]) name += smd["middle_name"] + " ";
								name += smd["last_name"];
								$(".smd-commissioner").text(name);
								
								if (smd.email || smd.phone) {
									var contacts = [];
									if (smd.email) contacts.push(smd.email);
									if (smd.phone) contacts.push(smd.phone);
									$('.smd-commissioner-email').text(" (" + contacts.join(", ") + ")");
								} else {
									$('.smd-commissioner-email').text(" (contact information was not provided)");
								}
								
								if (smd.Position) {
									$('.smd-commissioner-position').text(smd.first_name + " serves as the " + smd.Position + " of the ANC.");
								} else {
									$('.smd-commissioner-position').text("");
								}
								
								if (smd.terms) {
									$('#smd-terms').text(smd.first_name + " has been an ANC commissioner for " + smd.terms + " term" + (smd.terms > 1 ? "s" : "") + ".");
								}
								
								if (smd.contestation == 1) {
									$('#smd-contestation').text("Only 1 candidate competed for this seat in the 2012 election.")
								} else if (smd.contestation > 1) {
									$('#smd-contestation').text(smd.contestation + " candidates competed for this seat in the 2012 election.")
								} else {
									$('#smd-contestation').text("Nobody ran for this seat in the 2012 election.")
								}
	
								$('#map_col').show();
								$('#info').fadeIn();
								$('#info_address_not_found').fadeOut();
								
								$('#what-is-an-anc h2').text("What is ANC " + anc.anc + "?");
								$('#what-is-an-anc .what-is-it').text(anc.anc + " is one of Washington DC’s 40 Advisory Neighborhood Commissions.");  
								$('#what-is-an-anc .how-many-commissioners').text("Your ANC is composed of " +  Object.keys(anc["smds"]).length + " commissioners who make decisions about a broad range of issues in your community, such as liquor licenses, parking, and sanitation.");
								
								// Show next meeting for the ANC.

								var now = moment().format(); // get current local time in ISO format (assumes user is in Eastern Time)
								anc_meetings.sort(function(a,b) {
									if (!a.when && !b.when) return 0; // not all meetings have parsed dates
									if (!a.when) return 1; // put unparsed (null) dates *later*, hoping they include current meeting info
									if (!b.when) return -1;
									a.when.localeCompare(b.when);
								});
								var mtg = null;
								for (var i = 0; i < anc_meetings.length; i++) {
									if (anc_meetings[i].anc != anc.anc) continue;
									mtg = anc_meetings[i];
									if (mtg.when > now) break; // stop at first meeting in the future
								}
								if (mtg) {
									// Found a meeting.
									var future = (!mtg.when || (mtg.when > now));
									$('#meeting').show().text("");
									$('#meeting').append($("<p/>").text(
										  (future ? "The next" : "The last")
										+ " meeting of ANC "
										+ anc.anc
										+ " "
										+ (future ? "will be" : "was")
										+ " on "
										+ moment(mtg.when).format("dddd, MMMM Do YYYY, h:mm a")
										+ "."
									));
									
								} else {
									$('#meeting').hide();
								}
								
								$('#anc-link').attr('href', "/" + anc.anc + "#" + smd.smd_number)
									.text("Find out more about " + anc.anc + " >");
								
								return true;
		}
	</script>
{% endblock %}	
