{% extends "base.html" %}

{% block title %}Upload Document - ANC Finder{% endblock %}

{% block head %}
	{{ form.media }}
	<style>
		/* don't really want user's input, just pass through info from
		anc.html */
		.form-group-meeting_date_hidden {
			display: none;
		}
	</style>
{% endblock %}

{% block masthead %}Upload a Document{% endblock %}

{% block body %}
        {% include "form.html" with form=form title="Upload Document" form_display_layout="horizontal" %}

		{% if url_error %}<p class="text-error">{{url_error}}</p>{% endif %}

		<p>You will be asked to edit the document&rsquo;s metadata on the next screen.</p>
{% endblock %}


{% block scripts %}
	<script>
		update_toggle_state();

		$('.form-group-upload_type input').change(update_toggle_state);
		
		function update_toggle_state() {
			var val = $('.form-group-upload_type input:checked').val();
			$('.form-group-docfile').toggle(val == "file");
			$('.form-group-content').toggle(val == "paste");
			$('.form-group-url').toggle(val == "url");
		}
	</script>
{% endblock %}
