MAILTO=tauberer+anc@govtrack.us
14 3 * * * { cd /home/ancfinder/web; LANG=en_US.UTF-8 python conf/cronjob.py; USER=ancfinder ./fcgi > /dev/null; }
20,40 10-18 * * * { cd /home/ancfinder/web; . .env/bin/activate; STATIC_ROOT=/home/ancfinder/volatile/static LANG=en_US.UTF-8 python scripts/tweet_things.py; }
