{% extends "master.html" %}

{% block master_title %}500 - Washington, District of Columbia - ANC Finder{% endblock %}

{% block head %}{% endblock %}

{% block master_body %}

   <!-- Main hero unit for a primary marketing message or call to action -->
    <div id="masthead">
        <div class="container">
            <div class="row" style="text-align: center">
                <h1 style="font-size: 36px">500</h1>
            </div>
        </div><!-- /container -->
    </div><!-- /masthead -->

<div class="main widecontainer style2">
	<div class="container">
          <p>Something went wrong on our end. We're sorry about that.</p>
        </div>
      </div>

{% endblock %}
