{% extends "master.html" %}

{% block master_title %}{% block title %}{% endblock %} - ANCBrigade.com{% endblock %}

{% block master_body %}
   <!-- Main hero unit for a primary marketing message or call to action -->
  	<div id="masthead">
  		<div class="container">
  			<div class="row">
  				<h1>{% block masthead %}ANC Brigade: Strengthening Hyper-Local Government{% endblock %}</h1>
  			</div>
  		</div><!-- /container -->
  	</div><!-- /masthead -->

    <div class="container">
      <div class="row">
        <div class="span10 offset1">
          <div style="margin-top: 1em">
      		 {% block body %}{% endblock %}
          </div>
		    </div>
	    </div>
	   </div>
{% endblock %}
