{% load bootstrap %}

<form class="form-{{form_display_layout}}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
{% csrf_token %}
<fieldset>

	<legend>{{title}}</legend>
	
	{% if form_display_layout == 'horizontal' %}
    	{{ form|bootstrap_horizontal }}
    {% else %}
    	{{ form|bootstrap }}
    {% endif %}

    <div class="form-group">
      <div class="{% if form_display_layout == 'horizontal' %}col-sm-10 col-sm-offset-2{% endif %}">
      	<button type="submit" class="btn btn-primary">{% firstof submit_button_text "Submit" %}</button>
      </div>
    </div>

</fieldset>
</form>

