/*
Theme styles based originally on My2012District.com
*/

@font-face {
    font-family: 'PTSerif';
    src: url('../fonts/PTF55F-webfont.eot');
    src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF55F-webfont.woff') format('woff'),
         url('../fonts/PTF55F-webfont.ttf') format('truetype'),
         url('../fonts/PTF55F-webfont.svg#PTSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerif';
    src: url('../fonts/PTF56F-webfont.eot');
    src: url('../fonts/PTF56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF56F-webfont.woff') format('woff'),
         url('../fonts/PTF56F-webfont.ttf') format('truetype'),
         url('../fonts/PTF56F-webfont.svg#PTSerifItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'PTSerif';
    src: url('../fonts/i-webfont.eot');
    src: url('../fonts/PTF75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF75F-webfont.woff') format('woff'),
         url('../fonts/PTF75F-webfont.ttf') format('truetype'),
         url('../fonts/PTF75F-webfont.svg#PTSerifBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerif';
    src: url('../fonts/PTF76F-webfont.eot');
    src: url('../fonts/PTF76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF76F-webfont.woff') format('woff'),
         url('../fonts/PTF76F-webfont.ttf') format('truetype'),
         url('../fonts/PTF76F-webfont.svg#PTSerifBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'CentralUnionMission';
    src: url('../fonts/centralunionmission-filled-webfont.eot');
    src: url('../fonts/centralunionmission-filled-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/centralunionmission-filled-webfont.woff') format('woff'),
         url('../fonts/centralunionmission-filled-webfont.ttf') format('truetype'),
         url('../fonts/centralunionmission-filled-webfont.svg#PTSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CentralUnionMission';
    src: url('../fonts/centralunionmission-neon-webfont.eot');
    src: url('../fonts/centralunionmission-neon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/centralunionmission-neon-webfont.woff') format('woff'),
         url('../fonts/centralunionmission-neon-webfont.ttf') format('truetype'),
         url('../fonts/centralunionmission-neon-webfont.svg#PTSerifRegular') format('svg');
    font-weight: normal;
    font-style: oblique; /* use "oblique" to invoke the neon version of the font */

}

body {
	padding-bottom: 40px;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1 {
    font-family: 'OpenSans', 'Palatino Linotype', 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    line-height: 1.2em;
    padding-bottom: .3em;
    margin-bottom: .3em;
	color: #79A5D3;
}
h2,
h3,
h4 {
	color: #79A5D3;
	font-family: 'OpenSans', 'Palatino Linotype', 'Times New Roman', Times, serif;
}
h2 span, h3 span, h4 span, span span, a em {
    font-family: PTSerifItalic;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
	}
p+h2,
ul+h2,
ol+h2,
pre+h2 {
    margin-top: 1.5em;
}

a {
    color: #89A22c;
    text-decoration: none;
	}
a:hover {
	color: #79A5D3;
	}
	.navbar-inverse .navbar-nav>li>a {
		color: white;
	}
	#masthead a, #body a, footer a {
		text-decoration: underline;
	}
		#body .nav-tabs a {
			/* undo the above CSS about underlines and set a better color than our
			   general link color (and better than Bootstrap's default tab/pill link color) */
			text-decoration: none;
			color: #777;
		}
			#body .nav-tabs li.active>a {
				color: black;
			}

p {
	line-height: 140%;
}

footer {
	padding: 3em 20px 10px 20px;
	font-size: 75%;
	color: #666;
}

#logo {
    display: block;
    font-size: 1.5em;
	line-height: .95em;
    font-family: CentralUnionMission;
	color: white;
    text-transform: uppercase; /* required for CentralUnionMission font which only provides uppercase glyphs */
	padding-left: 50px;
}

.navbar {
	margin: 0;
}

   .login-row {
   	   margin: 0 13px 6px 0;
       font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
       font-size: 75%;
       text-align: right;
   }
   .login-row a {
        color: white;
   }
   .login-row a:hover,
    .login-row a:active {
        color: #fff1c9;
        text-decoration: none;
    }

#masthead {
	background-color: #79A5D3;
    padding: 20px 0 20px;
	color: #fff;
}

#masthead a {
	color: inherit;
}
#masthead a:hover {
	color: inherit;
}

#masthead h1 {
	font-size: 1.5em;
	text-align: center;
	line-height: 1.2em;
	padding: 0;
	margin: 0;
	color: #fff;
    text-shadow: 0 1px 1px #066982;
}

#menu_anc_list {
	text-align: left;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 5px .5em;
	text-transform: none;
}
	#header #menu_anc_list a {
		color: black;
	}
	#header #menu_anc_list a:hover {
		color: red;
	}
	#menu_anc_list .ward {
		padding: .25em 0;
		margin-bottom: .125em;
		border-bottom: 1px solid #DDD;
	}
	#menu_anc_list .anc {
		margin-right: .5em;
	}

.body ul li {
	margin-bottom: .5em;
}

#intro {
	margin-top: 1.75em;
	font-size: 11pt;
}
#intro p { margin: 0; } /* weirdness with slideUp() */

#addr_box {
	margin: 1.75em 2em 2em 0;
	text-align: right;
}
#addr {
	display: block;
	width: 100%;
	margin-top: 5px;
	font: bold 28px/32px sans-serif;
	color: black;
}

#addr_box div {
	font: bold 16px/20px sans-serif;
	color: #777;
	text-align: left;
}
#addr_box input {
	margin-top: 5px;
}
div#use_my_location {
	margin-top: 4px;
	text-align: right;
}
#use_my_location a {
	font: normal 12px/14px sans-serif;
}


#meeting .details {
	margin-left: 2em;
	margin-bottom: 0;
}

.widecontainer.style1, .widecontainer.style2 {
	min-height: 320px;
	font-size: 17px;
}
.widecontainer.style1 {
	background-color: #79A5D3;
	color: white;
}
.widecontainer.style2 {
	color: #666;
}
.widecontainer.style1 h2, .widecontainer.style2 h2 {
	margin-bottom: .75em;
	font-size: 28px;
}
.widecontainer.style1 h2, .widecontainer.style1 a {
	color: white;
}
.widecontainer.style2 h2 {
}

#what-is-an-anc-wrapper .image {
	text-align: center;
}
#what-is-an-anc-wrapper .image img {
	margin-top: 20px;
	width: 50%;
}

#jump_to_top {
	text-align: right;
	margin-bottom: .5em;
}
#jump_to_top a {
	color: white;
}

/* Some fixes for the responsive layout */
@media (max-width: 767px) {
	body {
		padding-right: 0;
		padding-left: 0;
		font-size: 13px;
	}
	#header {
		padding: 5px;
	}
	ul.nav-links {
		margin: 5px 0 0 0;
		text-align: left;
		font-size: 13px;
	}
	ul.nav-links li {
		margin: 0 15px 0 0;
	}
	.widecontainer {
		padding-left: 10px;
		padding-right: 10px;
	}
	.image img {
		display: none;
	}
	#jump_to_top {
		padding-top: 8em;
	}
}
@media (max-width: 1024px) {
	#map_canvas_google {
		width: 350px;
		height: 300px;
	}
    #logo {
        padding-left: 10px;
    }
    .navbar-inverse .navbar-nav>li>a {
        padding-left: 15px;
    }
    nav .col-sm-10 {
        font-size: 15px;
    }
}
@media (max-width: 420px) {
	#map_canvas_google {
		width: 290px;
		height: 350px;
		margin-top: 20px;
	}
}

/* forms */

p.error { color: red; }
form ul { list-style: none; margin: 0; padding: 0; } /* radio widget */
