<!DOCTYPE html>
<html lang='en'>

<head>
    <title>
        {% if page.title %}
        {{page.title}} -
        {% endif %}
        {{site.name}} - {{site.description}}
    </title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
    <meta content="{{ page.description }}" name='description' />
    {% else %}
    <meta content="{{ site.description }}" name='description' />
    {% endif %}
    <meta content='{{ site.name }}' name='author' />

    <!-- Facebook metadata -->
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
    <meta content="{{ page.title }} - {{ site.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about-us/" property="article:author">
    {% endif %}

    {% if page.image %}
    <meta content="{{ site.url }}{{page.image}}" property="og:image">
    {% else %}
    <meta content="{{ site.url }}/images/logo/logo-star-social.jpg" property="og:image">
    {% endif %}
    {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
    {% endif %}
    {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
    {% endif %}

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ site.title }}">
    <meta name="twitter:creator" content="{{ site.title }}">
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta name="twitter:image" content="{{ site.url }}{{page.image}}">
    {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/logo/logo-star-social.jpg">
    {% endif %}


    <meta name="application-name" content="Code for DC" />
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico" />
    <link rel="stylesheet" href="css_new/uswds.min.css">
    <link rel="stylesheet" href="css_new/main.css">
</head>

<body>

    <header class="usa-header usa-header-extended" role="banner">
        <div class="usa-navbar">
            <div class="usa-logo" id="extended-logo">
                <em class="usa-logo-text">
                    <a href="/" title="Home" aria-label="Home">
                        Code for DC
                    </a>
                </em>
            </div>
            <button class="usa-menu-btn">Menu</button>
        </div>

        <nav role="navigation" class="usa-nav">
            <div class="usa-nav-inner">
                <button class="usa-nav-close">
                    <img src="../img/close.svg" alt="close">
                </button>
                <ul class="usa-nav-primary usa-accordion">
                    <li>
                        <a class="usa-nav-link" href="/code-of-conduct">
                            <span>Code of Conduct</span>
                        </a>
                    </li>
                    <li>
                        <a class="usa-nav-link" href="/slack">
                            <span>Slack</span>
                        </a>
                    </li>
                    <li>
                        <a class="usa-nav-link" href="https://github.com/codefordc">
                            <span>Github</span>
                        </a>
                    </li>
                </ul>
                <div class="usa-nav-secondary">

                    <form class="usa-search usa-search-small  js-search-form">
                        <div role="search">
                            <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
                            <input id="extended-search-field-small" type="search" name="search">
                            <button type="submit">
                                <span class="usa-sr-only">Search</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container content">
        {{content}}
    </div>

    <footer class="usa-footer usa-footer-slim" role="contentinfo">
        <div id="returnToTop" class="usa-grid usa-footer-return-to-top" style="display: none;">
            <a id="returnToTopLink" href="javascript:void(0);">Return to top</a>
        </div>
        <div class="usa-footer-primary-section">
            <div class="usa-grid">
                <nav class="usa-footer-nav usa-width-two-thirds">
                    <ul class="usa-unstyled-list">
                        <li class="usa-width-one-fourth usa-footer-primary-content">
                            <a class="usa-footer-primary-link" href="/code-of-conduct">Code of Conduct</a>
                        </li>
                    </ul>
                </nav>
                <address>
                    <div class="usa-width-one-third">
                        <div class="usa-footer-primary-content usa-footer-contact_info">
                            <p><a href="mailto:team@codefordc.org">team@codefordc.org</a></p>
                        </div>
                    </div>
                </address>
            </div>
        </div>
    </footer>
    <script src="js/uswds.min.js"></script>
    <script src="js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
        const showReturnToTopThreshold = 100;
        const returnToTop = () => {
            const scrollTop = $(window).scrollTop();
            if (scrollTop > showReturnToTopThreshold) {
                $('#returnToTop').show();
            } else {
                $('#returnToTop').hide();
            }
        };
        
        $(window).on('scroll', () => returnToTop());
        $('#returnToTopLink').click((e) => {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 700);
        });
    
    </script>
</body>

</html>
